.socialPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .socialPost .postContainer {
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px; /* Adjust as needed */
    border: 1px solid black;
  }
  